.movies {
  padding: 0 70px;
  background-color: #202020;
}

.movies__error-text {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #EE3465;
  margin: 6px 0;
  width: 100%;
}

@media screen and (max-width: 1239px) {
  .movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 769px) {
  .movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 425px) {
  .movies {
    padding: 0 10px;
  }
}
