.app {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #202020;
}

.app__container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}
