.portfolio {
  padding: 101px 0 106px;
}

.portfolio__heading {
  color: #8B8B8B;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  margin: 0 0 30px;
}

.portfolio__links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio__item {
  margin: 0;
}

.portfolio__link {
  margin: 0;
  padding: 20px 0 19px;
  border-bottom: 1px solid #424242;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 50px;
  font-weight: 400;
  letter-spacing: -1.2px;
  background-image: url(../../../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: 18px 17px;
  background-position: bottom 33px right 4px;
  display: block;
  transition: .4s;
}

.portfolio__link:hover {
  cursor: pointer;
  opacity: .6;
}

.portfolio__link_last {
  border: none;
}

@media screen and (max-width: 1239px) {
  .portfolio {
    padding: 91px 50px 72px;
  }

  .portfolio__link {
    font-size: 28px;
    border-color: #E6E6E6;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    background-size: 10px 10px;
    letter-spacing: -0.7px;
  }
}

@media screen and (max-width: 424px) {
  .portfolio {
    padding: 70px 14px 51px;
  }

  .portfolio__heading {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
